name: Build and Deploy Backend to Azure

on:
  push:
    branches:
      - main
    paths:
      - 'server/**'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Action
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.AZURE_REGISTRY_SERVER }}
          username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}

      - name: Build and push container image
        run: |
          docker build ./server -t ${{ secrets.AZURE_REGISTRY_SERVER }}/keycraft-server:${{ github.sha }}
          docker push ${{ secrets.AZURE_REGISTRY_SERVER }}/keycraft-server:${{ github.sha }}
          docker tag ${{ secrets.AZURE_REGISTRY_SERVER }}/keycraft-server:${{ github.sha }} ${{ secrets.AZURE_REGISTRY_SERVER }}/keycraft-server:latest
          docker push ${{ secrets.AZURE_REGISTRY_SERVER }}/keycraft-server:latest

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ secrets.AZURE_BACKEND_APP_NAME }}
          publish-profile: ${{ secrets.AZURE_BACKEND_PUBLISH_PROFILE }}
          images: '${{ secrets.AZURE_REGISTRY_SERVER }}/keycraft-server:latest'
